@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$green-palette, A700);
$my-accent: mat.define-palette(mat.$purple-palette, 800);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);