<div class="centered">
    <div mat-dialog-header>
        <h1 mat-dialog-title>New Subject</h1>
    </div>
    <form [formGroup]="form">
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Name" type="text" [(ngModel)]="data.name" formControlName="name">
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button color="accent" [mat-dialog-close]="data.name" [disabled]="!form.valid">ADD</button>
            <button mat-raised-button (click)="close()">CLOSE</button>
        </div>
    </form>
</div>