.centered {
    text-align: center;
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
}

.container .mat-form-field+.mat-form-field {
    margin-left: 9px;
}

.container .mat-radio-button {
    margin-left: 10px;
}