.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(89, 193, 115, 1) 0%, rgba(93, 38, 193, 1) 100%);
}

.mat-card {
  text-align: center;
  width: 50%;
}

.mat-card-title {
  padding-top: 30px;
  font-size: 30px;
}

.mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}