<div class="centered">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Student's Subjects</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
                    <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
                </ng-container>
                <ng-container matColumnDef="obligations">
                    <th mat-header-cell *matHeaderCellDef>Obligations</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="obligations()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['obligations'])"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['obligations']);"></tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="add()">ADD</button>
            <button mat-raised-button (click)="back()">BACK</button>
        </mat-card-actions>
        <br>
    </mat-card>
</div>